<div id="main">
  <div id="error">
    Tu navegador que estás usando no es compatible con el contenido que se va a mostrar.
    Por favor, usa Chrome o Firefox~
  </div>

  <div id="wrap">
    <div id="text">
      <div id="code">
        <span class="say">Para la mujer más hermosa:</span>

        <span class="say">Quería hacerte algo diferente, algo que no se marchite,</span>
        <span class="say">algo que puedas abrir y recordar lo increíble que eres.</span><br>

        <span class="say">Me encantan las buenas vibras que siempre traes contigo,</span>
        <span class="say">esa energía tan bonita que ilumina todo sin que te des cuenta.</span>

        <span class="say">Admiro muchísimo todo lo que has logrado,</span>
        <span class="say">lo fuerte que eres, lo constante,</span>
        <span class="say">y lo más hermoso… verte progresar.</span><br>
  
        <span class="say">Me encanta lo muuuuy tierna y dulce que eres,</span>
        <span class="say">esa forma tan tuya de abrazar, de sonreír, de querer.</span>

        <span class="say">Y sí… a veces eres un poquito chinchosa;</span>
        <span class="say">pero algo malo tenías que tener pues… jejeje ❤️</span><br>

        <span class="say"><span class="space"></span> — Te quiero muchísimo.</span><br>
         <span class="say">PSDT:  No olvides de regar el arbolito xd.</span>
      </div>
    </div>

    <div id="clock-box">
      <a href="#" target="_blank">Tiempo desde que nos volvimos a ver en persona</a><br>
      <a href="#" target="_blank">(como pasa el tiempo jeje :p)</a>
      <div id="clock"></div>
    </div>

    <canvas id="canvas" width="1100" height="680"></canvas>
  </div>
</div>