<div id="main">
  <div id="error">
    Tu navegador que estás usando no es compatible con el contenido que se va a mostrar.
    Por favor, usa Chrome o Firefox~
  </div>

  <div id="wrap">
    <div id="text">
      <div id="code">
        <span class="say">Para el amor de mi vida:</span><br><br>
        <span class="say">Lorem ipsum dolor sit amet.</span><br>
        <span class="say">Sed do eiusmod tempor incididunt.</span><br>
        <span class="say"><span class="space"></span> — I Love You!</span>
      </div>
    </div>

    <div id="clock-box">
      <a href="#" target="_blank">Mi amor</a>
      <a href="#" target="_blank">por ti</a> comenzó hace...
      <div id="clock"></div>
    </div>

    <canvas id="canvas" width="1100" height="680"></canvas>
  </div>
</div>